/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
jvm/logs/
jvm/project/*-shim.sbt
jvm/project/project/
jvm/project/target/
jvm/target/
js/logs/
js/project/*-shim.sbt
js/project/project/
js/project/target/
js/target/
json4s-typify/logs/
json4s-typify/project/*-shim.sbt
json4s-typify/project/project/
json4s-typify/project/target/
json4s-typify/target/
