/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
jvm/logs/
jvm/project/*-shim.sbt
jvm/project/project/
jvm/project/target/
jvm/target/
js/logs/
js/project/*-shim.sbt
js/project/project/
js/project/target/
js/target/
json4s-typify/logs/
json4s-typify/project/*-shim.sbt
json4s-typify/project/project/
json4s-typify/project/target/
json4s-typify/target/
jsdynamic-typify/logs/
jsdynamic-typify/project/*-shim.sbt
jsdynamic-typify/project/project/
jsdynamic-typify/project/target/
jsdynamic-typify/target/
play-json-typify/logs/
play-json-typify/project/*-shim.sbt
play-json-typify/project/project/
play-json-typify/project/target/
play-json-typify/target/
circe-typify/logs/
circe-typify/project/*-shim.sbt
circe-typify/project/project/
circe-typify/project/target/
circe-typify/target/
.idea/
